---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boxhead Remake">
	<main class="flex flex-col items-center justify-center h-screen">
		<canvas width="1280" height="720" class="bg-slate-200"></canvas>
		<div>:)</div>
	</main>
</Layout>
