---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Boxhead Remake">
  <main class="flex flex-col items-center justify-center h-screen">
    <canvas
      id="boxhead-game"
      width="1200"
      height="720"
      class="outline-none"
      tabindex="0"></canvas>
    <div class="mt-2">WASD/arrows - movement, space - shoot, P - pause</div>
  </main>
</Layout>

<script>
  import "../game";
</script>
